body
{
    background-size: cover;
    background-position:center;
    font-family: Lato;
    color: black;
}

#content
{
    text-align:left;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

html
{
    height: 100%;
}

h1
{
    font-weight: 700;
    font-size: 3em;
}

jumbotron {
    background-color: gray
}

hr{
    width:75%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}